
.contenedor{
    padding-top: 70px;
    color: white;
}
/* peliculas */
.pelis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.pelis__datos{
    padding-top: 10px;   
}
.pelis__peli{
    background-color: rgba(47, 4, 88, 0.404);
    width: 100%;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    overflow: hidden;
}
.pelis__img{
    width: 200px;
}
.pelis__title{
    font-size: 2rem;
}