.contenedor {
    padding-top: 70px;
    color: white;
}

/* peliculas */
.pelis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.pelis__datos {
    padding-top: 10px;
}

.pelis__peli {
    background-color: rgba(47, 4, 88, 0.404);
    width: 100%;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    position: relative;

}

.pelis__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.pelis__img {
    width: 270px;
    max-height: 388px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.pelis__title {
    font-size: 2rem;
}

.pelis__botones {
    position: absolute;

    right: -35px;
    top: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pelis__enlace {
    color: white;
    background-color: rgb(0, 140, 255);
    text-decoration: none;
    padding: 10px;
}

.--borrar {
    background-color: red;
}

.pelis__enlace:hover {
    background-color: rgb(0, 92, 167);
}

.--borrar:hover {
    background-color: rgb(175, 0, 0);
}

.logout:hover {
    text-decoration: underline !important;
}

/* reparto */

.reparto__img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pelis__reparto {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: top;
    flex-wrap: wrap;
    gap: 10px;
}

.reparto__card {
    width: 100px;
    max-height: 210px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.164);
    border-radius: 20px;
}
.pelis__nombre-actor{
    margin-bottom: 0px;
    margin-top: 10px;
}