.form__fieldset{
    background-color: rgba(47, 4, 88, 0.404) !important;
}
.form__fieldset input{
    background-color: rgba(0, 0, 0, 0.397);
    border: none;
    color: white;
}
.form__fieldset input::placeholder{
    color: gray;
}
.form__fieldset input:focus{
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
}